.searchContainer {
  border-radius: 15px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input {
  width: 30vw;
  height: 50px;
  border-radius: 30px;
  padding: 0px 20px;
  border: 2px solid orange;
}
.searchIcon {
  font-size: 40px;
  color: orange;
}
